:root {
    --color-primary: green;
    --destaque-color: #ababab;
    --fort-color: #575757;
    --background-color: #B4EEF8;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    font-size: 16px;
}

.cabecalho {
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    background-color: var(--destaque-color);
    align-items: center;
    box-shadow: 0px 2px var(--fort-color);
    z-index: 100;
}

.cabecalho__menu {
    margin-right: 1vw;
}

.cabecalho__logo {
    height: 9vh;
}

.cabecalho__link {
    padding: 1vw;
    height: 32px;
    width: 32px;
}

.destaque {
    margin-top: 8vh;
}

.destaque__image {
    width: 100vw;
}

.destaque__cartao {
    padding: 0.5rem 1rem;
    margin: 0 5vw;
    background-color: var(--fort-color);
    opacity: 0.9;
    border-radius: 0.5em;
    width: 80vw;
    color: white;
    margin-top: -7vh;
}

.destaque__cartao--titulo {
    font-size: 1.5rem;
    margin: 0.5em;
}

.destaque__cartao-texto {
    margin: 0.8em 0;
}

.destaque__cartao-link {
    background-color: rgb(41, 66, 255);
    color: aliceblue;
    margin-bottom: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.5rem;
    font-weight: 700;
    display: inline-block;
    border-radius: 1em;
}

.circulos {
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid var(--fort-color);
}

.circle {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;  
    align-items: center;  
}

.circle:hover {
    transform: scale(1.2);
}

.circle__image {
    width: 80%;
    border-radius: 50%;
}

.circle__titulo {
    font-size: 1.8rem;
    color: var(--color-primary);
}

.circle__texto {
    font-size: 1rem;
}